<form action="/my-handling-form-page" method="post">
  <h3>Calcule su índice de masa corporal</h3>
  <p>
    Nombre: <input for="name" placeholder="Escriba su nombre">
  </p>

  <p>
    <input type="radio" name="masculino" value="masculino">👨🏻
    <input type="radio" name="femenino" value="femenino">👩🏼
  </p>

  <p>
    Altura: <input for="name" placeholder="Escriba su altura en cm">
  </p>

  <p>
    Peso: <input for="name" placeholder="Escriba su peso en kg">
  </p>

  <p class="botones">
    <button class="enviar" type="submit">✔ Enviar</button>
    <button class="eliminar" type="reset">✘ Eliminar</button>
  </p>
</form>
