 <h3>Calcule su índice de masa corporal</h3>
  <form>
  <p>
    Nombre: <input class="form-control"  for="name" placeholder="Escriba su nombre" [(ngModel)]="nombre" name="nombre">
  </p>

  <p>
    <input type="radio" name="masculino" id="masculino" [(ngModel)]="masculino">👨🏻
    <input type="radio" name="femenino" id="femenino" [(ngModel)]="femenino">👩🏼
  </p>

  <p>
    Altura:
    <button (click)="botonmenosAltura()"type="button">-</button>

    <input type="number" min="0" class="form-control" for="name" placeholder="Escriba su altura en cm" [(ngModel)]="altura" name="altura">

    <button (click)="botonmasAltura()" type="button">+</button>

  </p>

  <p>
    Peso:
    <button (click)="botonmenosPeso()" type="button">-</button>

    <input type="number" min="0" class="form-control" for="name" placeholder="Escriba su peso en kg" [(ngModel)]="peso" name="peso">

    <button (click)="botonmasPeso()"type="button">+</button>
  </p>

  <p class="botones">
    <button (click)="enviar()" (click)="validar()" (click)="ejecutarhistorial()" class="enviar" type="submit">✔ Enviar</button>
    <button class="eliminar" type="reset">✘ Eliminar</button>
  </p>
</form>
 <p>
   Resultado:
   <input type="text" id="resultado" name="resultado" [(ngModel)]="resultado">
   <input type="text" id="resultadotexto" name="resultadotexto" [(ngModel)]="resultadotexto">
 </p>
